.review-item{
    display: flex;
    width: 571px;
    border: 0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
    background-color: white;
}
.review-details-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.review-item img{
    width: 110px;
    height: 100px;
    border-radius: 10px;
}
.review-info p{
    margin: 0;
}
.review-info{
    margin-left: 15px;
}
.btn{
    width: 55px;
    height: 55px;
    font-size: 20px;
    border-radius: 50px;
    border: 0;
    background-color: rgb(244, 174, 174);
}
.btn:hover{
    background-color:rgb(239, 137, 137) ;
}
.delete-icon{
    color: rgb(222, 81, 81);
}